div.card {
	position:absolute;
	width:250px;
	background:aqua;
	border:2px solid black;
}

div.title {
	text-align: center;
	font-weight:bold;
	background:green;
	height:20px;
	width:80%;
	margin:auto;
}

div.desc {
	height:96;
	width:250px;
	margin:auto;
}

html, body {
	height:100%;
	margin:0 auto;
}

#leftPane {
	float:left;
	position:relative;
	min-height:100%;
	height:auto !important;
	width:200px;
}

#cardCollection {
	float:left;
	position:relative;
	min-height:100%;
	height:auto !important;
	width:auto !important;
	min-width:80%;
}

div.movingCard {
	background-color: blue;
}
